<div>
    <ul>
        <li><img src="../../assets/Image/Logo.png" alt="Logo"></li>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/products']">Products</a></li>
        <li><a [routerLink]="['/parts']">Parts</a></li>

        <li class="dropdown allignRight"><a href="javascript:void(0)">
                <img class="basket-img"
                    src="https://cdn3.iconfinder.com/data/icons/glypho-free/64/shopping-purse-512.png"></a>
            <div class="dropdown-content">
                <app-basket></app-basket>
            </div>
        </li>
        <li class="allignRight"><a [routerLink]="['/login']">Login</a></li>
    </ul>

</div>