ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    min-width: 445px;
}

li {
    float: left;
    display: block;
}

li a {
    padding: 14px 16px;
    background-color: dodgerblue;
    text-decoration: none;
    display: block;
    color: aliceblue;
    font-size: 25px;
    
    font-family: fantasy;
    max-width: 90px;
    max-height: 30px;
    text-align: center;
}

.allignRight {
    float: right;
}

li a:hover {
    background-color: aliceblue;
    color: dodgerblue;
}

img {
    padding: 5px;
    width: 40px;
    height: 40px;
    display: block;
}

.basket-img {
   
    width: auto;
    height: auto;
    max-width: 22px;
    max-height: 22px;
    align-self: center;
    display: block;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: fixed;
    overflow: visible;
    right: 0;
    width: 25em;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

  .basketItemsCount {
    
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: fixed;
           
        background: yellow;
        border: 2px solid yellow;
        color: black;
        text-align: center;
    
        font: 10px Arial, sans-serif, bold;

  }