example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.login {
  margin-top: 150px;
}

.loginGuest, .authenticated {
  margin-left: 30%;
  margin-right: 20%;
}