<div class="container" >

    <mat-form-field>
        <input matInput (keyup)="performFilter($event.target.value)" placeholder="Search">
      </mat-form-field>

    <mat-grid-list cols="2" *ngFor="let item of this.products | async">


        <div class="card">
            <div *ngIf="this.productService.auth.user | async as user;">
                <button *ngIf="user.admin == true" class="DeleteBtn" (click)="DeleteProduct(item.id)">Delete</button>
            </div>
            <div [routerLink]="['/products', item.id]">
                <img class="prodImg" [src]='item.picturePath' [alt]="item.name">
                <h1>{{item.name | slice:0:10}}</h1>
                <h3>{{item.brand}}</h3>
                <a>{{item.sku}}</a>
                <h4>Description</h4>
                <span>{{item.description | slice:0:200}}</span>
                <p class="price">Price: {{item.price}}</p>
            </div>
            <div *ngIf="this.productService.auth.user | async;">
                <p><button class="buyBtn" (click)="AddToBasket(item.id, qtyOrder.value)" for='qtyOrder'>Buy</button>
                </p>
                <p><input #qtyOrder type="number" value="1" name='qtyOrder' style="width: 50px;"></p>
            </div>
        </div>


    </mat-grid-list>

</div>