<div style="margin-top: 80px;">

    <a *ngIf="this.openOrders == true"><button mat-flat-button color="warn" (click)="changeViewOrders(99)">Show closed orders</button></a>
    <a *ngIf="this.openOrders == false"><button mat-flat-button class="green" (click)="changeViewOrders(1)" >Show open orders</button></a>

    
    <table mat-table [dataSource]="this.orders" multiTemplateDataRows class="mat-elevation-z8">


        <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef>OrderId</th>
            <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="invoiceId">
            <th mat-header-cell *matHeaderCellDef>Invoice</th>
            <td mat-cell *matCellDef="let element"> {{element.invoiceId}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="custId">
            <th mat-header-cell *matHeaderCellDef> CustId </th>
            <td mat-cell *matCellDef="let element"> {{element.custId}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="custName">
            <th mat-header-cell *matHeaderCellDef> Cust name </th>
            <td mat-cell *matCellDef="let element"> {{element.custName}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="ordDate">
            <th mat-header-cell *matHeaderCellDef> Order date</th>
            <td mat-cell *matCellDef="let element"> {{element.orderDate | date}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="pdf">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary" (click)="orderService.GetPdfOrder(element.orderId)">PDF</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="closeOrder">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button *ngIf="element.status == 1" mat-flat-button color="warn" (click)="CloseLines(element.orderId)">Close</button>
                <button *ngIf="element.status == 99" mat-flat-button color="primary" (click)="ReOpenLines(element.orderId)">Reopen</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">

            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">

                <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                    class="example-element-detail">

                    <table mat-table [dataSource]="this.orderLines" class="mat-elevation-z8">

                        <ng-container matColumnDef="lineNo">
                            <th mat-header-cell *matHeaderCellDef>line</th>
                            <td mat-cell *matCellDef="let line"> {{line.lineNo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="prodId">
                            <th mat-header-cell *matHeaderCellDef>ItemID</th>
                            <td mat-cell *matCellDef="let line"> {{line.prodId}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef>item</th>
                            <td mat-cell *matCellDef="let line"> {{line.item}} </td>
                        </ng-container>

                        <ng-container matColumnDef="qtyOrdered">
                            <th mat-header-cell *matHeaderCellDef>Qty</th>
                            <td mat-cell *matCellDef="let line"> {{line.qtyOrdered}} </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef>Price</th>
                            <td mat-cell *matCellDef="let line"> {{line.price | currency:'EUR':true }} </td>
                        </ng-container>

                        <ng-container matColumnDef="closeLine">
                            <th  mat-header-cell *matHeaderCellDef ></th>
                            <td  mat-cell *matCellDef="let element"  >
                                <button mat-flat-button color="warn" style="float: right;" *ngIf="element.status == 1" (click)="orderService.CloseLine(element.orderId, element.lineNo)">Close line</button>
                                <button mat-flat-button color="primary" style="float: right;"  *ngIf="element.status == 99" (click)="orderService.ReopenLine(element.orderId, element.lineNo)">Reopen line</button>
                            </td>
                            
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="(row.status != 99)?'make-green':'make-grey'" ></tr>


                    </table>

                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" [ngClass]="(element.status != 99)?'make-green':'make-grey'" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element"
            (click)="getOrderLines(element.orderId)"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"  class="example-detail-row"></tr>
    </table>

</div>