
<div style="padding: 5em 5em">
    <div class="card" *ngFor="let item of this.productService.productsData | async">

        <a [routerLink]="['/products', item.id]">
            <div class="container">
                <img class="brand" src="../../assets/Image/Logo.png" [alt]="item.brand">
                <img id="pictureCar" [src]='item.picturePath' [alt]="item.picturePath">
                <p>Rating: {{item.ratingScore}}</p>
            </div>
            <div class="container description">
                 <h3>{{item.id}}</h3>
                <h3>{{item.brand}}</h3>
                <h4>Info:  </h4>
                <a>{{item.sku}}</a>
                <h4>Description</h4>
                <p>{{item.name}}</p>
               
            </div>
        </a>
        <div class="containerBottom">
            <h3  id="price">price:     {{item.price}}</h3>
            <button class="buy" (click)="AddToBasket(item.id)">Buy</button>
        </div>
    </div>
</div>