<nav role="navigation" >
    <ul>
        <li><a [routerLink]="['/customers']">Customers</a>
            <ul class="dropdown">

                <app-customer></app-customer>

            </ul>
        </li>
        <li><a [routerLink]="['/orders']">Orders</a>
            <ul class="dropdown">

                <app-order></app-order>

            </ul>
       
        <li><a href="javascript:">Manage products</a>
            <ul class="dropdown">
                <div>
                    <div class="buttonContainer">
                        <button mat-raised-button color="primary" [routerLink]="['/products', 0]">Add product</button>
                        <button mat-raised-button color="primary" [routerLink]="['/uploadExcel']">Upload Excel</button>
                        <button mat-raised-button color="primary" (click)="this.productService.DownloadExcel()">Download Excel</button>
                    </div>
                    <app-products></app-products>
                </div>

            </ul>
        </li>
    </ul>
</nav>